In [1]:
import pandas as pd

In [2]:
raw_data={"name":["ram","shyam","ram","dinesh","kartik"],"marks":[12,14,12,14,18]}
data=pd.DataFrame(raw_data)
data

     name  marks
0     ram     12
1   shyam     14
2     ram     12
3  dinesh     14
4  kartik     18

In [6]:
data.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool